@media (min-width: 1000px) {
	.filters-section {
		display: flex;
		justify-content: space-between;
	}

	.card-grid {
		grid-template-columns: repeat(auto-fit, minmax(285px, var(--card-max-width)));
		justify-items: initial;
		justify-content: space-between;
		//Since columns are no longer setted to 1fr, they have a max-width, making them smaller than the parent container.
		//This way we are able to use justify-content
		//Items now use the whole width of the column, so justify-items is no longer necessary
	}

	.country-article {
		display: flex;
		max-width: initial;
		&__media {
			width: 50%;
		}

		&__text {
			width: 50%;
			padding: 0 2rem;
			&__desc-lists {
				display: flex;
				justify-content: space-between;
			}
			&__border-countries h3 {
				display: inline-block;
				margin-right: 0.5rem;
			}
		}
	}
}
